* {
  margin: 0;
  padding: 0;
}
body {
  font-family: Arial, Helvetica, sans-serif
}

.btn {
  display: inline-block;
  border: none;
  background-color: #555;
  color: #fff;
  padding: 7px 20px;
  cursor: pointer
}
.btn:hover {
  background-color: #777;
}
.container {
  padding: 0 1rem;
}

.nav-item {
  color: #fff;
  text-decoration: none;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
.marginTop {
  padding: 15PX
}